html {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #6b6b6b;
}

.container {
  height: 100vh;
  min-width: 320px;
}

.navigation {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin-left: auto;
}

.navigation a {
  display: block;
  color: #6b6b6b;
  text-decoration: none;
}

.navigation a:hover,
.main p a:hover {
  text-decoration: underline;
}

.menu img {
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.account {
  height: 40px;
  width: 40px;
  background-color: black;
  background: url(./assets/images/my-pic.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  text-align: center;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"] {
  width: 50%;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #ddd;
  margin-top: 20px;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid gray;
}

button {
  margin: 30px 10px;
  border: none;
  background-color: #f8f9fa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 34px;
  min-width: 108px;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

button:last-of-type {
  margin-left: 10px;
}

.main p {
  margin-top: 30px;
}

.main p a {
  text-decoration: none;
}

footer {
  background-color: #f2f2f2;
}

footer .country {
  border: 1px solid #dadce0;
  padding: 10px 30px;
}

footer li {
  list-style: none;
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: #6b6b6b;
}

.footer-bottom {
  padding: 15px;
}

.footer-bottom :first-child {
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
}

@media screen and (max-width: 600px) {
  .navigation {
    margin: 0 auto;
    width: 100%;
  }

  .main {
    padding: 0 10px;
  }

  input[type="text"] {
    width: 80%;
  }

  footer li {
    margin-right: 0;
  }

  .footer-bottom p {
    margin-bottom: 10px;
  }

  .footer-links {
    align-items: center;
  }

  .links {
    flex-direction: column;
    text-align: left;
  }

  .links li {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .navigation {
    margin-left: auto;
    width: 60%;
  }

  input[type="text"] {
    width: 80%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
  .navigation {
    margin-left: auto;
    width: 40%;
  }

  input[type="text"] {
    width: 60%;
  }
}
